{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 class="text-white text-3xl font-mono">Welcome, {{ request.user.email }}!</h2>
    <div class="flex justify-between p-4">
        <button class="text-white" id="inbox">Inbox</button>
        <button class="text-white" id="compose">Compose</button>
        <button class="text-white" id="sent">Sent</button>
        <button class="text-white" id="archived">Archived</button>
        <a class="text-white" href="{% url 'logout' %}">Log Out</a>
    </div>
    <hr>

    <div id="emails-view" class="text-white">
    </div>

    <div id="compose-view" class="text-white">
        <h3 class="text-center text-3xl">New Email</h3>
        <form id="compose-form">
            <div class="text-xl">
                From: <input disabled class="underline bg-black" value="{{ request.user.email }}">
            </div>
            <div class="">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}