{% extends "mail/layout.html" %}
{% load static %}


{% block body %}

    <h2 class="text-3xl text-center">Login</h2>

    {% if message %}
        <div class="bg-red-600 text-center my-2 py-2">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="text-center mt-2">
        {% csrf_token %}
        <div class="mb-2">
            <input autofocus class="bg-gray-800 p-1 rounded focus:ring focus:ring-sky-600 focus:outline-none" type="email" name="email" placeholder="Email">
        </div>
        <div>
            <input class="bg-gray-800 p-1 rounded focus:ring focus:ring-sky-600 focus:outline-none" type="password" name="password" placeholder="Password">
        </div>
        <input class="mt-4 block mx-auto bg-blue-800  p-2 rounded-lg cursor-pointer hover:bg-blue-900 focus:outline-none" type="submit" value="Login">
    </form>
    <div class="text-center mt-2">
        Don't have an account? <a class="text-sky-300 hover:text-sky-500" href="{% url 'register' %}">Register here.</a>
    </div>

{% endblock %}