{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ user.username }}</h1>

    <ul>
        <li>
            Followers: {{ user.followers.count }}
        </li>
        <li>
            Following: {{ user.followings.count }}
        </li>
    </ul>
    <h1>Posts:</h1>
    {% for post in posts %}
        <ul>
            <li>
                <strong>
                    Post: {{ forloop.counter }}
                </strong>
            </li>
            <li>
                <h5 style="display: inline-block;">Text:</h5>
                {{ post.text }}
            </li>
            <li>
                Time:
                {{ post.created_at|date:"d M Y, H:i" }}
            </li>
            <li>
                Likes:
                {{ post.likes.count }}
            </li>
        </ul>
    {% endfor %}
{% endblock %}
