{% extends "auctions/layout.html" %}

{% block body%}

    {% if category %}
        <h2>Category {{ category }}</h2>
        <ul>
            {% for listing in listings %}
                <li>
                    <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    <img src="{{ listing.img_url }}" alt="{{ listing.title }}" class="d-block mx-auto img-thumbnail" style="width: 300px; height: 200px; object-fit: cover;">
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Choose category</h2>
        <ul>
            <form action="{% url 'categories' %}" method="post">
                {% csrf_token %}
                {% for category in categories %}
                    <li><input type="submit" name="category" value="{{ category }}"></li>
                {% endfor %}
            </form>
        </ul>
    {% endif %}


{% endblock %}