{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>

    <ul>
        {% for listing in listings %}
            <li>
                <a href="{% url 'listing' listing.id %}">
                        Listing: {{ listing.title }}
                </a>
                <img src="{{ listing.img_url }}" alt="{{ listing.title }}" class="d-block mx-auto img-thumbnail" style="width: 300px; height: 200px; object-fit: cover;">
                
            </li>
        {% endfor %}
    </ul>

{% endblock %}