{% extends "auctions/layout.html" %}

{% block body %}

    <h2 class="text-center text-2xl mb-2">Active Listings</h2>

    <div class="grid grid-cols-3 gap-4">
            {% for listing in listings %}
            <div>
                <img src="{{ listing.img_url }}" alt="{{ listing.title }}" class="inline-block" style="width: 300px; height: 200px; object-fit: cover;">
                <a href="{% url 'listing' listing.id %}">
                    Listing: {{ listing.title }}
                </a>
            </div>
                
                    
            {% endfor %}
    </div>
{% endblock %}