{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}MiniTaste store{% endblock %}</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body class="p-0 pl-32 pt-24">
        <div class="z-0 flex justify-between items-center h-20 border-b border-solid-gray-700 px-2 fixed left-0 right-0 top-0">
            <div class="">
                <h1>MiniTaste store!</h1>
            </div>
            <div class="flex justify-items-end items-center">
                {% if user.is_authenticated %}
                    Signed in as<strong>{{ user.username }}</strong>.
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <div class="flex items-center">
                        Not signed in.
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="bg-white w-28 fixed left-0 bottom-0 top-20 border-r border-solid-gray-700 p-1 -mt-px z-10">

            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create' %}">Create Listing</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        
        {% block body %}
        {% endblock %}
    </body>
</html>
