{% extends "auctions/layout.html" %}

{% load static %}

{% block body %}

    {% if messages %}
    <ul>
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <ul>
        <li>
            <h1>Title: {{ listing.title }} </h1>
            <img src="{{ listing.img_url }}" alt="{{ listing.title }}" class="d-block mx-auto img-thumbnail" style="width: 300px; height: 200px; object-fit: cover;">
            <h4>Starting price: {{ listing.price }} </h4>
            <h4>Liked: {{ listing.watchers.count }} </h4>

                <h4>
                    {% if listing.get_highest_bid %}
                        Current bid: {{ listing.get_highest_bid.amount }}
                    {% else %}
                        Current bid: {{ listing.price }}
                    {% endif %}
                </h4>
        
        </li>
        <li>
            Post time: {{ listing.created }}
        </li>
    </ul>
    {% if user.is_authenticated %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            {% if is_in_watchlist %}
                <button type="submit">Remove from watchlist</button>
            {% else %}
                <button type="submit">Add to watchlist</button>
            {% endif %}
        </form>
        Enter a bid:
        <form action="{% url 'bid' listing.id %}" method="post">
            {% csrf_token %}
            <input type="number" name="bid" placegolder="Enter a bid" required>
        </form>
        Add a comment:
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <textarea name="comment" placegolder="Comment..." required></textarea>
            <input type="submit" value="Post a comment">
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login to comment, add listings to watchlist and bid</a>
    {% endif %}

    <div class="comments-section">
        <h2>Comments</h2>
        {% if comments %}
            <ul>
                {% for comment in comments %}
                    <li>
                        <strong>{{ comment.user.username }}</strong> ({{ comment.created|date:"d M Y, H:i" }}):
                        <p>{{ comment.description }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No comments yet. Be the first to comment!</p>
        {% endif %}
    </div>

{% endblock %}
